{% extends 'base.html' %}

{% set active_page = 'labs' %}

{% block main_content %}
<div class="container mt-4 px-4">
    <!-- header -->
    <div class="d-flex justify-content-between align-items-center mx-4">
        <h1 class="mb-0"><strong>Labs</strong></h1>
    </div>
    <hr class="mt-0 mb-3">
    <!-- breadcrumb -->
    <div class="mx-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('labs.index') }}">Labs</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add new lab</li>
            </ol>
        </nav>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="form-add w-100 m-auto">
            <form method="post" action="{{ url_for('labs.add_lab') }}">
                {{ form.csrf_token }}
                <h3 class="mb-3 text-center"><strong>Add new lab</strong></h3>
                <p class="lead text-center">Create a new lab.</p>
                {% import 'macros.html' as macros %}
                {{ macros.error() }}
                <div class="row row-cols-2 mb-3">
                    <div class="col">
                        {{ form.labname.label(class_="form-label") }}
                        {{ form.labname(class_="shadow-sm w-100 form-control form-control-lg", placeholder="Lab1") }}
                    </div>
                    <div class="col">
                        {{ form.labmod_username.label(class_="form-label") }}
                        {{ form.labmod_username(class_="shadow-sm w-100 form-control form-control-lg", placeholder="lab1_staff") }}
                    </div>
                </div>
                <div class="row row-cols-2 mb-5">
                    <div class="col">
                        {{ form.password.label(class_="form-label") }}
                        {{ form.password(class_="shadow-sm w-100 form-control form-control-lg", placeholder="Password") }}
                    </div>
                    <div class="col">
                        {{ form.confirm_password.label(class_="form-label") }}
                        {{ form.confirm_password(class_="shadow-sm w-100 form-control form-control-lg", placeholder="Confirm password") }}
                    </div>
                </div>
                <div class="w-100 d-flex justify-content-center mb-4">
                    <button class="btn btn-dark btn-lg" type="submit"><strong>Add Lab</strong></button>
                </div>
            </form>
        </div>
    </div>
    <!-- endform -->
</div>
{% endblock %}
