{% extends 'base.html' %}

{% set active_page = 'labs' %}

{% block main_content %}
<div class="container mt-4 px-4">
    <!-- header -->
    <div class="d-flex justify-content-between align-items-center mx-4 mb-2">
        <h1 class="mb-0"><strong>Labs</strong></h1>
    </div>
    <hr class="mt-0 mb-3">
    <!-- breadcrumb -->
    <div class="mx-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('labs.index') }}">Labs</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ lab.labname }}</li>
            </ol>
        </nav>
    </div>
    {% import 'macros.html' as macros %}
    {{ macros.error() }}
    <div class="container w-75 mx-auto p-4 border">
        <h3 class="ms-2">{{ lab.labname }}</h3>
        <table class="table">
            <tbody class="align-middle">
                <tr>
                    <th scope="row">Lab Moderator</th>
                    <td>{{ lab.user.username }}</td>
                </tr>
                <tr>
                    <th scope="row">Number of Clients</th>
                    <td>
                        {{ lab.clients|length }}
                        <a href="{{ url_for('clients.index', lab=lab.labname) }}" class="ms-2 btn btn-dark btn-sm">View all</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Created at</th>
                    <td>{{ lab.created_at }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-dark" href="{{ url_for('labs.change_pass', pk=lab.id) }}">change password</a>
        {% if lab.clients|length == 0 %}
        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">delete lab</a></li>
        {% endif %}
    </div>
</div>
{% import 'macros.html' as macros %}
{{ macros.modal(
    id="deleteModal",
    action_view='labs.delete_lab',
    pk=lab.id,
    name=lab.labname,
    message="Lab will be deleted only if there are no Clients and Assessments present.
    If Clients or Assessments are present, either delete or move to some other Labs.") }}
{% endblock %}
