{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='loginStyle.css') }}">
{% endblock %}

{% block body %}
<body class="vh-100 container d-flex justify-content-center align-items-center">
    <main class="form-login w-100 m-auto">
        <form action="{{ url_for('auth.login') }}" method="post">
            {{ form.csrf_token }}
            <h1 class="mb-3 text-center"><strong>login</strong></h1>
            {% import 'error.html' as error %}
            {{ error.error() }}
            <div class="mb-3">
                {{ form.username.label(class_="form-label") }}
                {{ form.username(class_="shadow-sm w-100 form-control-lg", placeholder="lab1") }}
            </div>
            <div class="mb-4">
                {{ form.password.label(class_="form-label") }}
                {{ form.password(class_="shadow-sm w-100 form-control-lg", placeholder="password") }}
            </div>
            <div class="w-100 d-flex justify-content-center mb-4">
                <button class="btn btn-dark" type="submit"><strong>log in</strong></button>
            </div>
            <div class="text-center">
                <p>&copy;2024, Proctor</p>
            </div>
        </form>
    </main>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>
{% endblock %}
