{% extends 'base.html' %}

{% set active_page = 'clients' %}

{% block main_content %}
<div class="container mt-4 px-4">
    <!-- header -->
    <div class="d-flex justify-content-between align-items-center mx-4 my-2">
        <h1 class="mb-0"><strong>Clients</strong></h1>
        {% if current_user.is_admin %}
        <a href="{{ url_for('clients.add') }}" role="button" class="btn btn-success">+ Add new Client</a>
        {% endif %}
    </div>
    <hr class="mt-0 mb-3">
    <!-- breadcrumb -->
    <div class="mx-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Clients</li>
                <li class="breadcrumb-item active" aria-current="page">All clients</li>
            </ol>
        </nav>
    </div>
    {% import 'macros.html' as macros %}
    {{ macros.error() }}
    <!-- end of breacrumb -->
    <!-- end of header -->
    <!-- table of labs -->
    <div class="container text-center">
        {% if not lab %}
        <h3 class="mb-4"><strong>All Clients</strong></h3>
        {% else %}
        <h3 class="mb-4"><strong>Clients of {{ lab.labname }}</strong></h3>
        {% endif %}
    </div>
    {% if clients|length == 0 %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="w-75 text-center">
            <p class="lead mb-0">No client found. Create a new Client by clicking on 'add new Client'.</p>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center px-5 table-scroll">
        <table class="table table-hover text-center">
            <thead class="z-1 position-sticky top-0">
                <tr class="table-secondary">
                    <th scope="col">clientName</th>
                    <th scope="col">Name</th>
                    <th scope="col">lab</th>
                    <th scope="col">is registered</th>
                    <th scope="col">created by</th>
                    <th scope="col">created at</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr class="align-middle">
                    <th>
                        <a href="{{ url_for('clients.client_view', clientname=client.clientname) }}" class="link-dark">{{ client.clientname }}</a>
                    </th>
                    <td>{{ client.name }}</td>
                    <td>{{ client.lab.labname }}</td>
                    <td>{{ client.is_registered }}</td>
                    <td>{{ client.created_by.username }}</td>
                    <td>{{ client.created_at }}</td>
                    <td>
                        <div class="d-inline-block align-middle">
                            {% if client.is_active %}
                            <!-- active pill -->
                            <div class="status-pills active-status">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8"/>
                                </svg>
                                <span class="active-text">Active</span>
                            </div>
                            <!-- end of active pill -->
                            {% else %}
                            <div class="status-pills inactive-status">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8"/>
                                </svg>
                                <span class="inactive-text">Inactive</span>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <!-- table of labs -->
</div>
{% endblock %}
